#outer{
    height: 100vh;
    background-color: #0f0f0f;
}

.news-title{
    font-size: medium;
    margin-top: 2vh;
}

.font-white{
    color: whitesmoke;
}

.margin-bottom{
    margin-bottom: 3vh;
}