#outer{
    height: 100vh;
    background-color: white;
}

.news-title{
    font-size: medium;
    text-decoration: none !important;
    margin-top: 2vh;
}

.font-small{
    font-size: 11px;
}

.container-margin{
    width: 90vw;
}

.font-white{
    color: whitesmoke;
}

.center-col{
    align-items: center !important;
}

.margin-bottom{
    margin-bottom: 3vh;
}