#outer{
    height: 100%;
    background-color: white;
}

.news-title{
    font-size: medium;
    text-decoration: none !important;
    margin-top: 2vh;
}

.font-small{
    font-size: 11px;
}

.container-margin{
    width: 90vw;
}

.font-white{
    color: whitesmoke;
}

.center-col{
    align-items: center !important;
}

.margin-bottom{
    margin-bottom: 3vh;
}

@media screen and (max-width: 2560px) {
    .press-col{
        flex: 33%; 
    }   
}

@media screen and (max-width: 1000px) {
    .press-row{
        flex-direction: column !important;
    }   
}