#about-page{
    background-color: white;
    height: 100%;
}

.pad-top{
    padding-top: 1vh;
}

.pad-bottom{
    padding-bottom: 2vh;
}

.about-text{
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.05em;
    line-height: 1.75em;
    text-transform: none;
    white-space: pre-wrap;
    -webkit-font-smoothing: subpixel-antialiased;
}

@media screen and (max-width: 2560px) {
    .about-col{
        flex: 50%; 
    }   
}

@media screen and (max-width: 1000px) {
    .about-row{
        flex-direction: column !important;
    }
    
    .mobile-pad{
        padding-top: 3vh;
    }
}