.parallax-container {
  height: 60vh;
}

.title-container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.padding-top{
  padding-top: 5vh;
}

.content{
  font-size: 11px;
}
.content-title{
  font-size: 20px;
}

.text-dec{
  text-decoration: none !important;
}

.text-dec:hover{
  color: #cfcfcf !important;
}