.parallax-container {
    height: 80vh;
    background: transparent;
  }

.padding-top{
  padding-top: 5vh;
}

.career{
  margin-top: 5vh;
}

.players{
  display: flex;
  flex-direction: row;
}

.video{
  margin-right: 50px;
}

.gallery{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 30px;
}

.thumbs{
  height: 30vh;
  margin-top: 30px;
  min-width: 40vh;
  flex-basis: 45%;
}

.align-icons{
  justify-content: space-evenly;
}

.gallery-title{
  color: aliceblue;
  font-size: 9vh;
  -webkit-text-stroke: 2px white;
  text-align: center;
  font-weight: 1000;
}

.padding-top-gallery{
  position: relative;
  top: 60%;
}

.content{
  font-size: 13px;
}
.content-title{
  font-size: 26px;
}

#info{
  background-color: black;
  color: aliceblue;
  /* min-height: 50vh; */
  text-align: justify;
  padding-bottom: 5vh;
}

#penguin{
  background-color: black;
  /* height: 50vh; */
  color: aliceblue;
  padding-bottom: 5vh;
}

#gallery{
  background-color: black;
  color: aliceblue;
}

footer{
  background-color: #303336;
  color: aliceblue;
  padding-bottom: 8vh;
}