.bg-white{
    background-color: white;
}

.nav-height{
    min-height: 23vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.brand-title{
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .15em;
    line-height: 1em;
}

.nav-link{
    font-size: 11px;
    cursor: pointer;
}