.bg-black{
    background-color: black;
}

.nav-height{
    height: 15vh;
}

.font-var{
    font-variant: small-caps;
}

.nav-link{
    font-size: 13px;
    cursor: pointer;
    text-decoration: none !important;
}

.active{
    text-decoration: none !important;
}