.bg-white{
    background-color: white;
}

.navbar-brand{
    margin-right: 0px;
}

.nav-height{
    min-height: 23vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.brand-title{
    color: rgba(0, 0, 0, 1) !important;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    letter-spacing: .15em;
    line-height: 1em;
}

.nav-link{
    font-size: 11px;
    cursor: pointer;
    color: rgba(0, 0, 0, 1) !important;
    padding-left: 0;
    padding-right: 0;
    margin-left: .5rem;
    margin-right: .5rem;
}

.navbar-nav:hover > *{
    opacity: 0.5;
}

.navbar-nav:hover > *:hover{
    opacity: 1;
}

.nav-pad{
    padding-top: 1.5vh;
}

@media screen and (max-width: 992px){
    .links-container{
        flex-direction: row !important;
    }
}