footer{
    background-color: black;
    color: aliceblue;
    padding-top: 2vh;
}

.padding-footer-links{
    padding-right: 1vw;
    padding-left: 1vw;
}

.row-bottom{
    padding-bottom: 1vh;
}

.row-top{
    padding-top: 1vh;
}

.align-icons{
    justify-content: center;
}
  
.socials{
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
}

.social-tag{
    margin-top: 0px;
    font-size: 13px;
    line-height: 2.2;
}