footer{
    background-color: black;
    color: aliceblue;
    padding-top: 2vh;
}

.padding-footer-links{
    padding-right: 1vw;
    padding-left: 1vw;
}

.twitter-icon{
    margin-top: 3px;
    padding-left: 1vw;
}

.padding-bottom-2{
    padding-bottom: 9vh;
}
  
.socials{
    margin-left: 10px;
    margin-right: 10px;
    height: 20px;
}

.copyright{
    font-size: 9px;
}

.author a{
    padding-top: 1vh;
    font-size: 9px;
    color: #3f3f3f;
}

.author a:hover{
    color: #2f2f2f;
    text-decoration: none;
}