#penguin-outer{
    background-color: white;
    height: 100%;
}

.no-pad{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.penguin-title{
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    letter-spacing: .075em;
    line-height: 1em;
}