@font-face{
    font-family: "Acumen Pro";
    src: url("./assets/fonts/acuminProWideLight.otf") format("opentype");
}

@font-face{
    font-family: "Benton Sans Pro Wide";
    src: url("./assets/fonts/BentonSansWide.otf") format("opentype");
}

.montserrat{
    font-family: 'Acumen Pro',sans-serif;
}

.bentonsans{
    font-family: 'Benton Sans Pro Wide',sans-serif;
}