@font-face{
    font-family: "Acumen Pro";
    src: url("./assets/fonts/acuminProWideLight.otf") format("opentype");
}

@font-face{
    font-family: "Benton Sans Pro Wide";
    src: url("./assets/fonts/BentonSansWide.otf") format("opentype");
}

@font-face{
    font-family: "Neue Haas Grotesk Display";
    src: url("./assets/fonts/NeueHaasDisplay-Thin.otf") format("opentype");
}

@font-face{
    font-family: "Acumen Pro Extra Condensed";
    src: url("./assets/fonts/AcuminProExtraCond.otf") format("opentype");
}

.nhaasgrotesk{
    font-family: 'Neue Haas Grotesk Display', sans-serif;
}

.montserrat{
    font-family: 'Acumen Pro',sans-serif;
}

.bentonsans{
    font-family: 'Benton Sans Pro Wide',sans-serif;
}